* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
}

.container {
  max-width: 1440px;
  margin: auto;
  padding: 0 1%;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.gradient-text {
  background: linear-gradient(to top, #A254E2 44%, #DD4CC1 68%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
}

.btn-primary {
  background-color: #FF42A5;
  padding: 15px 40px;
  border-radius: 25px;
  color: white;
  text-transform: uppercase;
}

.btn-secondary {
  background-color: #4EC5F7;
  padding: 15px 40px;
  border-radius: 25px;
  color: white;
}

header .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
}
header .header .logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
header .header .logo img {
  height: 35px;
}
header .header .logo h4 {
  font-size: 45px;
  font-weight: 800;
}
header .header .logo h4 span {
  color: #FF42A5;
}
header .header .menu-area {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header .header .menu-area a {
  text-decoration: none;
  color: black;
  text-align: center;
}
header .header .menu-area nav ul {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-right: 40px;
}
header .header .menu-area nav ul li {
  list-style-type: none;
}
header .header .menu-area .social {
  background-color: #eeeae9;
  border-radius: 5px;
  padding: 10px;
}

#hero .info {
  grid-area: "info";
}
#hero .image-box {
  grid-area: "imgbox";
}
#hero .hero {
  display: grid;
  grid-template-areas: "  imgbox info";
  align-items: center;
}
#hero .hero .info {
  background-image: url("../images/Group 14.png");
  background-size: cover;
  background-position: center center;
  padding: 50px;
}
#hero .hero .info h3 {
  font-size: 48px;
  font-weight: 600;
}
#hero .hero .info h2 {
  font-size: 95px;
  font-weight: 800;
}
#hero .hero .info .iconlist li {
  font-size: 20px;
  padding: 10px 0px;
}
#hero .hero .info .iconlist li i {
  padding-right: 10px;
}
#hero .hero .info .actions {
  margin-top: 50px;
}
#hero .image-box {
  text-align: center;
}
#hero .image-box img {
  width: 80%;
  padding: 20px 0px;
}

#weGamer {
  background-color: #FFF9FC;
  padding: 100px 0px;
}
#weGamer .weGamer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#weGamer .weGamer .imgBox img {
  width: 100%;
}
#weGamer .weGamer .info {
  text-align: right;
}
#weGamer .weGamer .info h3 {
  font-size: 48px;
  font-weight: 600;
}
#weGamer .weGamer .info h4 {
  font-size: 35px;
  font-weight: 600;
}
#weGamer .weGamer .info p {
  padding: 30px 0px;
}

#onlineGames {
  padding: 100px 0px;
}
#onlineGames h2 {
  font-size: 48px;
  text-align: center;
  font-weight: 600;
}
#onlineGames .sub-title {
  text-align: center;
  padding: 10px 0px 50px 0px;
}
#onlineGames .games {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}
#onlineGames .games .card .card-image {
  position: relative;
}
#onlineGames .games .card .card-image img {
  width: 100%;
  height: auto;
}
#onlineGames .games .card .card-image .card-text {
  background-color: rgba(0, 0, 0, 0.507);
  position: absolute;
  width: 100%;
  height: 99%;
  top: 0;
  left: 0;
  border-radius: 15px;
  transition: 0.3s all !important;
  border: 4px solid #FF42A5;
  display: none;
}
#onlineGames .games .card .card-image .card-text a {
  color: white;
  text-align: center;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#onlineGames .games .card .card-image .card-text a i {
  font-size: 35px;
  padding: 5px;
}
#onlineGames .games .card:hover .card-text {
  display: block;
}
#onlineGames .games-banner-one {
  padding: 100px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#onlineGames .games-banner-one .info {
  text-align: right;
  padding-right: 100px;
}
#onlineGames .games-banner-one .info h3 {
  font-size: 48px;
  font-weight: 600;
}
#onlineGames .games-banner-one .info p {
  max-width: 250px;
  float: right;
  padding: 20px 0px;
}
#onlineGames .games-banner-one .image-box {
  position: relative;
}
#onlineGames .games-banner-one .image-box .one {
  width: 100%;
}
#onlineGames .games-banner-one .image-box .two {
  position: absolute;
  left: -15%;
  bottom: -15%;
}
#onlineGames .games-banner-two {
  padding: 100px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#onlineGames .games-banner-two .info {
  text-align: left;
}
#onlineGames .games-banner-two .info h3 {
  font-size: 48px;
  font-weight: 600;
}
#onlineGames .games-banner-two .info p {
  max-width: 250px;
  padding: 20px 0px;
}
#onlineGames .games-banner-two .image-box {
  position: relative;
}
#onlineGames .games-banner-two .image-box .one {
  width: 100%;
}
#onlineGames .games-banner-two .image-box .two {
  position: absolute;
  right: -15%;
  bottom: -15%;
}

#career {
  background-color: #FF42A5;
}
#career .career {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}
#career .career .info {
  padding: 100px 10%;
}
#career .career .info h2 {
  font-size: 48px;
  font-weight: 600;
  color: white;
  padding: 20px 0px;
}
#career .career .info p {
  color: white;
  line-height: 30px;
}
#career .career .image-box img {
  width: 100%;
}
#career .career .links {
  display: flex;
  gap: 20px;
}
#career .career .links li {
  padding-top: 15px;
}
#career .career .links li a {
  color: white;
  font-size: 24px;
}
#career .career .links .right {
  text-align: right;
}

#featured {
  padding: 100px 0px;
}
#featured .games {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#featured .games .item {
  display: flex;
  align-items: center;
  margin: 10px;
  max-width: 250px;
  padding: 10px;
  border-radius: 50px;
  border: 3px solid rgba(255, 255, 255, 0);
  transition: 0.3s all;
}
#featured .games .item img {
  width: 40px;
  padding-right: 5px;
}
#featured .games .item:hover {
  border: 3px solid #FF42A5;
  color: #FF42A5;
  background-color: rgb(238, 238, 238);
}

footer {
  background-color: black;
  padding: 100px 0px;
}
footer .logo {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}
footer .logo img {
  height: 35px;
}
footer .logo h4 {
  font-size: 45px;
  font-weight: 800;
  color: white;
}
footer .logo h4 span {
  color: #FF42A5;
  font-weight: 800;
}

@media screen and (max-width: 576px) {
  header {
    box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.29);
    -webkit-box-shadow: 0px 0px 0px 0px rgba(150, 150, 150, 0.29);
  }
  header .header {
    flex-direction: column;
  }
  header .header .menu-area {
    flex-direction: column;
  }
  header .header .menu-area nav ul {
    flex-direction: column;
    padding: 50px 0px;
    margin: auto;
  }
  #hero .hero {
    grid-template-areas: "imgbox" "info";
  }
  #hero .hero .info {
    margin: 10px;
  }
  #hero .hero .info h3 {
    font-size: 35px;
  }
  #hero .hero .info h2 {
    font-size: 60px;
    text-align: center;
  }
  #weGamer .weGamer {
    flex-direction: column;
  }
  #weGamer .weGamer .info {
    text-align: center;
  }
  #weGamer .weGamer .info h4 {
    font-size: 25px;
    font-weight: 600;
  }
  #onlineGames {
    padding: 100px 0px;
  }
  #onlineGames h2 {
    font-size: 28px;
  }
  #onlineGames .games {
    grid-template-columns: 1fr;
  }
  #onlineGames .games .card {
    margin: 15px;
  }
  #onlineGames .games-banner-one {
    flex-direction: column;
  }
  #onlineGames .games-banner-one .info {
    text-align: center;
    padding: 0;
  }
  #onlineGames .games-banner-one .info p {
    max-width: 90%;
    float: none;
  }
  #onlineGames .games-banner-one .image-box {
    margin: 15%;
    margin-bottom: 0;
  }
  #onlineGames .games-banner-one .image-box .two {
    width: 100px;
  }
  #onlineGames .games-banner-two {
    flex-direction: column-reverse;
  }
  #onlineGames .games-banner-two .info {
    text-align: center;
    padding: 0;
  }
  #onlineGames .games-banner-two .info p {
    max-width: 90%;
    float: none;
  }
  #onlineGames .games-banner-two .image-box {
    margin: 15%;
  }
  #onlineGames .games-banner-two .image-box .two {
    width: 100px;
  }
  #career .career {
    grid-template-columns: 1fr;
  }
  #career .career .links li a {
    color: white;
    font-size: 12px;
  }
}

/*# sourceMappingURL=style.css.map */
